In [1]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [2]:
print("hello world") #this is a comment

hello world

In [ ]:
x = 5
y = "Joy"
print(x)
print(y)

In [4]:
x = 5 #This is a type of integer 
y = "Joy" #This is a type of STRING
print(x)
print(y)

5
Joy

In [5]:
x = int(5)
y = str("Joy")
z = float(3.0)
print(x)
print(y)
print(z)

5
Joy
3.0

In [6]:
myVar = "John" #Variables can be named--case sensitive and can't start with a number
print(myVar)

John

In [9]:
x, y, z = "Orange", "Banana", "Grapes"
print(x)
print(y)
print(z)

Orange
Banana
Grapes

In [10]:
x = y = z = "Banana" 
print(x)
print(y)
print(z)

Banana
Banana
Banana

In [11]:
x = "python is awesome"
print(x)

python is awesome

In [12]:
x = "python"
y = "is"
z = "awesome"
print (x, y, z)

python is awesome

In [13]:
x = "python" 
y = "is" 
z = "awesome"
(x + y + z)

'pythonisawesome'

In [14]:
x = "python "
y = "is "
z = "awesome"
(x + y + z)

'python is awesome'

In [15]:
x = 5
y = 10 
(x + y)

15

In [16]:
x = 5 
y = "Joy" #When adding int and str use commas not +
(x, y)

(5, 'Joy')

In [30]:
x = "awesome"

def myfunc():
    print("Python is " + x)

In [31]:
# I can't seem to get the () down

In [32]:
x = 1 # int
y = 2.8 # flt
z = 2j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
# int is a whole number no decimels + or -
# flt is a decimal + or - or you can use 'to the power' (e) 2e67.1

In [37]:
x = int(1) # x will be 1
y = int(2.1) # y will be 2.1
z = int("3") # z will be 3
print(x, y, z)

1 2 3

In [39]:
print("it's alright")

it's alright

In [41]:
b = "hello, world!"
print(b[2:5])

llo

In [ ]:
#printing charcters 2-5 above--first character starts at 0

In [42]:
a = "Hello, world!"
print(a.upper())

HELLO, WORLD!

In [43]:
a = "Hello, world!" 
print(a.strip()) #the strip() removes any white space from the beginning or end

Hello, world!

In [45]:
a = "hello " 
b = "world" 
c = a + b 
print (c)

hello world

In [46]:
a = "hello" # add a space just add " "
b = "world" 
c = a + " " + b
print(c)

hello world

In [47]:
age = 36 
txt = f"my name is Tarra, I am {36}" #combine int and text using format()
print(txt)

my name is Tarra, I am 36

In [ ]:
#Booleon values--true or false given more than 1 values

In [48]:
print(10>4)
print(10==4)
print(10<4)

True
False
False

In [50]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
# the bool() tool tells you when anything is true or false

In [54]:
print(bool("Hello"))
print(bool(15))

True
True

In [57]:
print(60 / 1.58e2)

0.379746835443038

In [58]:
1.58e2

158.0

In [59]:
60 / 158

0.379746835443038

In [60]:
"7" + "3"

'73'

In [61]:
print(bool("Booleans"))
print(bool("Booleans2"))
print(bool("Strings"))
print(bool("Strings2"))
print(bool("Operators2"))
print(bool("String2"))

True
True
True
True
True
True